@use '../base/settings' as *;

.tab-nav ul {
    display: flex;
    flex-wrap: wrap;
    color: $primary-color;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 8.125rem;
    height: 11.6875rem;
    margin: 0;
    padding: 0;

    @media (min-width: 43.75em) {
        gap: 3.5rem;
    }

    @media (min-width: 55em) {
        gap: 6rem;
    }

    @media (min-width: 55em) {
        gap: 6rem;
    }

    @media (min-width: 65em) {
        gap: 8.125rem;
    }
}

.tab {
    cursor: pointer;

    @media (min-width: 43.75em) {
        font-size: 1.2rem;
    }
    @media (min-width: 55em) {
        font-size: 1.7rem;
    }
}

.tab:hover {
    color: $secondary-color;
}