@use '../base/settings' as *;

.btn-favourite {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: $primary-color;

    &:hover {
        cursor: pointer;
    }

    img {
        width: 3rem;
    }
}