@use '../base/settings' as *;

header {
	position: fixed;
	height: 6.25rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 1rem 4rem;
	background-color: $background-color;
	font-size: 2rem;
	box-shadow: 0.1rem 0.1rem 0.5rem $primary-color;
	z-index: 99;

	@media(min-width: 65em) {

		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
	}
}
