@use '../base/settings' as *;

header {
	height: 9.375rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 1rem 4rem;
	background-color: $background-color;
	font-size: 2rem;

	@media(min-width: 65em) {

		flex-wrap: nowrap;
		align-items: baseline;
		justify-content: space-between;
	}

	.search-container {
		position: relative;
		display: none;

		@media (min-width: 43.75em) {
			display: flex;
		}
	}

	.search-input {
		padding: .75rem;
		width: 250px;
		border-radius: 20px;

		@media (min-width: 65rem) {
			width: 300px;
		}

	}

	.search-button {
		background: none;
		border: none;
		color: $primary-color;
		font-size: 1.5rem;
		position: absolute;
		right: .5rem;
		top: .4rem;

	}

}

.search-results {
	position: absolute;
	top: 4rem;
	background-color: white;
	font-size: 1.5rem;
	z-index: 99;
}