@use '../base/settings' as *;

.movie-info-card{
    padding: 9.375rem 1rem 1rem 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    color: $secondary-color;
    h2  {
        color: $secondary-color;
    }
    h3 {
        color: $secondary-color;
    }
    .info-backdrop{
        display: block;
        width: 100%;
        height: 30rem;
        object-fit: cover;
        position: relative;
        z-index: -1;
        opacity: 0.2;
        @media(min-width: 65em){
            height: 40rem;
        }
        @media(min-width: 105em){
            height: 50rem;
        }

    }

    .info-poster{
        border-radius: 15px;
        height: 25rem;
        margin-left: 1rem;
        @media (max-width: 43.75em) {
                display: none;
            }
        @media (min-width: 65em) {
            height: 32rem;
        }
        @media (min-width: 105em) {
            height: 40rem;
        }
        }
        
    .movie-info-text {
        position: absolute;
        bottom: 1rem;
        padding: 1.5rem;
        @media (min-width: 43.75em){
            max-width: 50rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            top: 60%;
            transform: translateY(-50%);

        }

        @media (min-width: 65em) {
            top: 58%;
            max-width: 55rem;
        }

        @media (min-width: 105em){
            max-width: 60rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            top: 57%;
        }
    }
    .movie-info-title{
        @media (min-width: 65em){
            font-size: 3rem;
        }
    }
    .release-date{
        font-weight: bold;
        margin-top: 1rem;
        @media(min-width: 105em){
            font-size: 1.5rem;
        }
    }
    .genre-list{
        display: flex;
        padding: 0;
        li {
            padding-right: .5rem;
            font-size: 1rem;
            @media (min-width: 43.75em) {
                font-size: 1rem;
            }
            @media (min-width:105em) {
                font-size: 1.3rem;
            }
        }
    }

    .info-rating {
        display: inline-block;
        color: $primary-color;
        background-color: $secondary-color;
        font-weight: bold;
        font-size: 1.2rem;
        border: .15rem solid $primary-color;
        padding: .5rem;
        border-radius: 50%;
    }
    .btn-favourite{
        i{
            font-size: 2rem;
            transform: translateY(16%);
            

        }
    }
    .full-overview{
        margin-top: 1rem;
        p{
            font-size: 1rem;
            margin-bottom: 1rem;
        @media (min-width: 43.75rem){
            font-size: 1rem;
            }
        }
        @media(min-width: 105em){
            h3{
                font-size: 1.5rem;
            }
        }
    }

    @media (min-width: 105em){
    .movie-info-title{
        width: 40rem;
        }
    }
}
