@use '../base/settings' as *;

.load-more-btn {
    cursor: pointer;
    width: fit-content;
    border: none;
    background-color: $primary-color;
    border-radius: 1.5625rem;
    font-size: 1.25rem;
    padding: 1rem 2.5rem;
    color: $background-color;

    &:visited {
        color: $background-color;
    }

    &:hover {
        color: $secondary-color;
    }

    @media (min-width: 55em) {
        font-size: 2rem;
        padding: 1.5rem 4rem;
    }
}
