@use '../base/settings' as *;

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;


    p {
        margin: 1rem 3rem;
    }

    .info-wrapper {
        text-align: center;
    }

    .about-text {
        color: $secondary-color;
        font-size: 1rem;
    }

    .tmdb-text {
        color: $secondary-color;
        font-size: 0.875rem;
        margin-top: 2rem;
    }

    .theatre-image {
        display: none;
    }

    .developers article {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        a,
        p {
            margin: 1rem .5rem;
            padding: 0;
            width: fit-content;
            color: white;
        }
    }

    @media (min-width: 48rem) {
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 70rem;
        justify-content: center;
        margin: 30px auto;

        .theatre-image {
            display: block;
            margin-left: 3rem;
        }

        .developers article {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            margin: auto 3rem;

            a,
            p {
                margin: .5rem .5rem;
            }
        }

    }

    @media (min-width: 60rem) {

        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 70rem;
        justify-content: center;
        margin: 30px auto;

        .info-wrapper {

            text-align: center;
            padding: 0 6rem;
        }

        p {
            margin: 1rem 0;
            text-align: center;
            width: 100%;

        }

        .theatre-image {
            display: block;
            margin-left: 3rem;
        }

        .developers article {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: left;

            a,
            p {
                margin: 1rem .5rem;
                padding: 0;
                width: fit-content;
            }
        }

    }

    .tmdb-respect {
        display: flex;
        flex-direction: column;
        align-items: center;



        @media (min-width: 55rem) {

            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
    }

    .developers {
        margin: 3rem 0;
    }

    .developers li {
        color: $primary-color;
        list-style: circle;
    }

}