@use '../base/settings' as *;
 
.category-dropdown{
    text-align: center;
    display: block;
    font-size: 1.5rem;
    position: relative;
    margin: 1rem 0;

    .category-dropdown-btn{
        border: none;
        background: none;
        color: $primary-color;
        border: 3px solid $primary-color;
        border-radius: 10px;
        padding: .5rem;
        cursor: pointer;
        &:active, &:hover{
            background-color: $primary-color;
            color: $background-color;
        }
    }
}

.dropdown-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    width: 100%;
    color: $primary-color;
    padding: 1rem;
    margin: 0;
    top: -1rem;
    position: absolute;
    z-index: 1000;
    background-color: $background-color;
    cursor: pointer;
    box-shadow: 0.1rem 0.05rem 0.5rem $primary-color;

    li {
        width: fit-content;
        padding: .5rem;
        &:active, &:hover{
            color: $background-color;
            background-color: $primary-color;
        }
    }

}