@use '../base/settings' as *;
 
.category-dropdown{
    text-align: center;
    display: block;
    font-size: 1.5rem;
    position: relative;
    margin: 1rem 0;
    button{
        border: none;
        background: none;
        color: $primary-color;
        border: 3px solid $primary-color;
        border-radius: 10px;
        padding: .5rem;
        cursor: pointer;
        &:active, &:hover{
            background-color: $primary-color;
            color: $background-color;
        }
    }
    // .disc{ 
    //     display: inline-block;
    //     width: 10px;
    //     height: 10px; 
    //     border-radius: 50%; 
    //     background-color: $primary-color; 
    //     margin-right: 5px; 
    //     vertical-align: 10%;
    // }
}

.dropdown-list{
    font-size: 1.5rem;
    width: 100%;
    color: $primary-color;
    padding: 0;
    margin-top: 0;
    top: 0;
    position: absolute;
    z-index: 1000;
    background-color: $background-color;
    cursor: pointer;

    li {
        padding: .5rem;
        &:active, &:hover{
            color: $background-color;
            background-color: $primary-color;
        }
    }

}