<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /seenema/
  RewriteRule ^index.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /seenema/index.html [L]
</IfModule>