@use 'settings' as *;

body {
    font-family: $primary-font;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    color: $primary-color;
}

p {
    color: $secondary-color;
}

a,
ul,
ol,
li {
    text-decoration: none;
    list-style-type: none;
}

a:visited,
a:focus {
    color: $primary-color;
}